body {
    background-image: url(MediaFiles/logo.png), url(MediaFiles/mountains.jpg);
    background-position: bottom left, 100% center;
    background-repeat: no-repeat, repeat;
    background-origin: border-box, content-box;
    background-attachment: fixed, fixed;
}


h1 {
    text-shadow: 5px 5px 7px hotpink;
    font-size: 400%;
}

p {
    font-family: 'Spicy Rice', cursive;
}
